PORT=5000
NODE_ENV=development

MONGO_URL=mongodb://127.0.0.1:27017/BasaiFinder_DB
JWT_SECRET_TOKEN=change_me
JWT_EXPIRES_IN=7d
COOKIE_NAME=bf_token

CLIENT_URL=http://localhost:5173,http://localhost:3000
